.game-container {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 550px;
    height: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.horizontal-line {
    float: left;
    background: transparent;
    /*background-color: red;*/
    width: 5em;
    height: 1em;
    border-radius: 10px;
}

.vertical-line {
    float: left;
    background: transparent;
    /*background-color: red;*/
    width: 1em;
    height: 5em;
    border-radius: 10px;
}
.row-body {
    clear: both;
}
.row-head {
    clear: both;
}
.box-body {
    float: left;
    width: 5em;
    height: 5em;
    background : transparent;
}
.empty-dot {
    float: left;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 10px;
}
